  <nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">
    <img src="/icon.svg" width="60" height="60" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <div class="btn-group">
            <button style="width: 50px; height: 50px; border-radius: 50%; position: relative; padding: 0; text-transform: uppercase;" type="button" class="btn btn-success dropdown-toggle d-flex align-items-center justify-content-center" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.initials %>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item", data: { turbo: false }%>
              <%= link_to "Jobs", jobs_path, class: "dropdown-item", data: { turbo: false } %>
              <%= link_to "Sign Out", destroy_user_session_path, data:{turbo_method: :delete}, class: "dropdown-item" %>
            </ul>
          </div>
        </div>
      <% else %>
        <li class="nav-item p-2">
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-secondary" %>
        </li>
        <li class="nav-item p-2">
          <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</nav>