<div id="<%= dom_id job %>">
  <p>
    <strong>Company name:</strong>
    <%= job.company_name %>
  </p>

  <p>
    <strong>String:</strong>
    <%= job.string %>
  </p>

  <p>
    <strong>Zendesk subdomain:</strong>
    <%= job.zendesk_subdomain %>
  </p>

  <p>
    <strong>String:</strong>
    <%= job.string %>
  </p>

  <p>
    <strong>Zendesk username:</strong>
    <%= job.zendesk_username %>
  </p>

  <p>
    <strong>String:</strong>
    <%= job.string %>
  </p>

  <p>
    <strong>Zendesk api key:</strong>
    <%= job.zendesk_api_key %>
  </p>

  <p>
    <strong>String:</strong>
    <%= job.string %>
  </p>

  <p>
    <strong>Intercom api key:</strong>
    <%= job.intercom_api_key %>
  </p>

  <p>
    <strong>String:</strong>
    <%= job.string %>
  </p>

</div>
