<div id="<%= dom_id job %>">
  <div class="card-body d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center align-items-start" style="height: 100vh; padding-top: 20px;">
      <div class="card text-center" style="width: 700px; height: 300px;">
        <div class="field form-group">
          <strong>Company name:</strong>
          <%= job.company_name %>
        </div>
        <div class="field form-group">
          <strong>Zendesk subdomain:</strong>
          <%= job.zendesk_subdomain %>
        </div>
        <div class="field form-group">
          <strong>Zendesk username:</strong>
          <%= job.zendesk_username %>
        </div>
        <div class="field form-group">
          <strong>Zendesk api key:</strong>
          <%= job.zendesk_api_key %>
        </div>
        <div class="field form-group">
          <strong>Intercom api key:</strong>
          <%= job.intercom_api_key %>
        </div>
        <div class="container">
          <%= link_to "Edit this job", edit_job_path(@job), class: 'btn btn-info' %> |
          <%= link_to "Back to jobs", jobs_path, class: 'btn' %>
          <%= button_to "Stop", job, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
</div>
