<p style="color: green"><%= notice %></p>
<h1>Jobs</h1>
<div id="jobs">
  <% if @jobs.any? %>
    <% @jobs.each do |job| %>
      <% if job.user == current_user %>
        <div class="d-flex align-items-center mb-3">
          <div class="flex-grow-1">
            <div class="d-flex justify-content-between">
              <b><%= job.company_name.capitalize %> </b>
              <small><%= local_time(job.created_at) %></small>
            </div>
            <div class="progress mt-2">
              <div 
              class="progress-bar progress-bar-striped progress-bar-animated" 
              role="progressbar" 
              style="width: <%= job.progress %>%;" 
              aria-valuenow="<%= job.progress %>" 
              aria-valuemin="0" 
              aria-valuemax="100">
                <%= job.progress %>%
              </div>
            </div>
            <div class="mt-2">
              <b>JobId:</b>
              <i> <%= job.id %></i>
            </div>
          </div>
          <div class="ms-2">
            <% if job.in_progress %>
              <%= button_to "Pause", pause_job_path(job), method: :patch, class: "btn", remote: true, data: { type: :script } %>
            <% else %>
              <%= button_to "Start", start_job_path(job), method: :patch, class: "btn", remote: true, data: { type: :script } %>
            <% end %>
          </div>
          <div class="ms-2">
            <%= button_to "Stop", job, method: :delete, class: "btn" %>
          </div>
          <div class="ms-2">
            <%= link_to "View", job, class: "btn" %>
          </div>
        <%end%>
      </div>
    <% end %>
  <% else %>
    <p>No jobs to show.</p>
  <% end %>
</div>
<%= link_to "New job", new_job_path, class: "btn btn-secondary" %>
